RCS.DIS.Presenter.RetrieveService/Connected Services/ServiceReference/RetrieveService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50136/Retrieving/RetrieveService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RCS.DIS.Services.DataModel" />
  <xs:element name="DiagnoseOmschrijvingContainsNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiagnoseOmschrijvingContainsNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DiagnoseOmschrijvingContainsNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiagnoseOmschrijvingContainsEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiagnoseOmschrijvingContainsEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RCS.DIS.Services.DataModel" minOccurs="0" name="DiagnoseOmschrijvingContainsEntitiesResult" nillable="true" type="q1:ArrayOfDiagnose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>