RCS.DIS.Presenter.RetrieveService/Connected Services/ServiceReference/RetrieveService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50136/Retrieving/RetrieveService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:50136/Retrieving/RetrieveService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RCS.DIS.Services.DTOs" />
  <xs:element name="Versies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VersiesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiagnoseOmschrijvingContainsNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiagnoseOmschrijvingContainsNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DiagnoseOmschrijvingContainsNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiagnoseOmschrijvingContainsEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiagnoseOmschrijvingContainsEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RCS.DIS.Services.DTOs" minOccurs="0" name="DiagnoseOmschrijvingContainsEntitiesResult" nillable="true" type="q2:ArrayOfDiagnose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialismeOmschrijvingContainsNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialismeOmschrijvingContainsNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpecialismeOmschrijvingContainsNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialismeOmschrijvingContainsEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialismeOmschrijvingContainsEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RCS.DIS.Services.DTOs" minOccurs="0" name="SpecialismeOmschrijvingContainsEntitiesResult" nillable="true" type="q3:ArrayOfSpecialisme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZorgactiviteitOmschrijvingContainsNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZorgactiviteitOmschrijvingContainsNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZorgactiviteitOmschrijvingContainsNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZorgactiviteitOmschrijvingContainsEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZorgactiviteitOmschrijvingContainsEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RCS.DIS.Services.DTOs" minOccurs="0" name="ZorgactiviteitOmschrijvingContainsEntitiesResult" nillable="true" type="q4:ArrayOfZorgactiviteit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZorgproductOmschrijvingContainsNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZorgproductOmschrijvingContainsNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZorgproductOmschrijvingContainsNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZorgproductOmschrijvingContainsEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZorgproductOmschrijvingContainsEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RCS.DIS.Services.DTOs" minOccurs="0" name="ZorgproductOmschrijvingContainsEntitiesResult" nillable="true" type="q5:ArrayOfZorgproduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>