RCS.DIS.Presenter.RetrieveService/Connected Services/ServiceReference/RetrieveService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RCS.DIS.Services.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RCS.DIS.Services.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDiagnose">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Diagnose" nillable="true" type="tns:Diagnose" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiagnose" nillable="true" type="tns:ArrayOfDiagnose" />
  <xs:complexType name="Diagnose">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bestandsdatum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DiagnoseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peildatum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpecialismeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Versie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Diagnose" nillable="true" type="tns:Diagnose" />
  <xs:complexType name="ArrayOfSpecialisme">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Specialisme" nillable="true" type="tns:Specialisme" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialisme" nillable="true" type="tns:ArrayOfSpecialisme" />
  <xs:complexType name="Specialisme">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bestandsdatum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peildatum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpecialismeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Versie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Specialisme" nillable="true" type="tns:Specialisme" />
</xs:schema>